<div id="vendor" class=" page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg" [ngClass]="BGClassName?.layout?.toolbar?.background"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER  margin-top: 20px;-->
    <div  fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="10" style="padding: 0px;">
        <mat-card fxFlex=100% fxFlex.ls="100">
            <div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
                <!-- <div fxFlex="1 1 Auto">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="7" class="borderRightClass mr-24 pr-24">Previous 1 Week
                        </mat-radio-button>
                        <mat-radio-button value="14" class="borderRightClass mr-24 pr-24">Previous 2 Week
                        </mat-radio-button>
                        <mat-radio-button value="21" class="mr-24 pr-24">Previous 3 Week</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-card-header class="toolbar px-24 py-8">
                    <span class="li"></span>
                    <span style="margin-left: 15px">
                        <mat-card-title> Scheduled-Delivery </mat-card-title>
                    </span>
                    <div fxFlex fxLayoutAlign="end end">
                        <span style="margin-bottom: 20px;" class="li2"></span>
                        <span style="margin-left: 15px">
                            <mat-card-title> Actual-Delivery </mat-card-title>
                        </span>
                    </div>
                </mat-card-header> -->
                <mat-card-content>
                    <!-- <canvas  width="565px " height="130px " baseChart
                        [datasets]="widget5.data.datasets" [labels]="widget5.data.labels" [options]="widget5.options">
                    </canvas> -->
                    <canvas height="130px"
                    baseChart
                    [chartType]="'line'"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="true"
                    >
                </canvas>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>